:root {
    --barlow-font: "barlow";
    --barlow-condensed-font: "barlow condensed";
    --bellefair-font: "bellefair";
}

* {
    font-family: "barlow";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("assets/home/background-home-mobile.jpg");
    background-color: #ccc;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 667px; */
    padding: 0px 24px;
} 

nav {
    /* border: 1px solid red; */
    padding: 24px 0px;
}

.nav_ctn {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    display: none;
    position: fixed;
    /* background-color: rgb(255, 255, 255); */
    width: 67.7%;
    height: 100%;
    right: 0;
    top: 0;
    backdrop-filter: blur(40px);
    padding: 24px;
}

.close_nav {
    /* border: 1px solid #ffffff; */
    margin-bottom: 70px;
    text-align: right;
    margin-top: 13px;
}

.nav_items {
    /* border: 1px solid black; */
    /* display: flex;
    flex-direction: column; */
    display: grid;
}

.nav_items a {
    margin-bottom: 30px;
    text-decoration: none;
    font-family: var(--barlow-condensed-font);
    color: #ffffff;
    letter-spacing: 2.7px;
}

.nav_items a span {
    /* border: 1px solid black; */
    font-weight: bold;
    margin-right: 15px;
    letter-spacing: 1.5px;
}

.main_content {
    color: #D0D6F9;
    text-align: center;
    /* border: 1px solid white; */
    margin-top: 24px;
    height: 276px;
}

.question {
    font-family: var(--barlow-condensed-font);
    letter-spacing: 2.7px;
    font-size: 16px;
}

.space_ctn {
    color: #ffffff;
    /* border: 1px solid white; */
    font-family: var(--bellefair-font);
    font-size: 80px;
    line-height: 100px;
    padding: 14px 0px;
    /* height: 100px; */
}

.details {
    font-family: var(--barlow-font);
    font-size: 15px;
    line-height: 25px;
}

.explore {
    border: 1px solid white;
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 500;
    margin-top: 70px;
}

.explore p {
    padding-bottom: 3px;
    font-family: var(--bellefair-font);
    font-size: 20px;
    letter-spacing: 1.25px;
    color: #0B0D17;
}

